<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="POST">
      <label for="text">Enter your phrase: </label>
      <input type="text" name="user_phrase">
      <input type="submit" name="Submit">
    </form>

  </body>
</html>
